 /* ==UserStyle==
@name           lastfm dark
@namespace      gitlab.com/virunus/usercss
@version        0.3.0
@description    LastFM dark style
@author         virunus
@license        GPL-3.0-only

@preprocessor   less

@var color background-primary "Background colour" #383838
@var color background-accent "Background accent colour" #484848
@var color background-hover "Background hover colour" #686868
@var color text-primary "Text colour" #d3d3d3
@var color text-secondary "Text secondary colour" #d3d3d3
@var color text-link "Text link colour" #add8e6
@var color accent-colour "Accent colour" #661212
@var color accent-hover "Accent hover colour" #672e2e
==/UserStyle== */
@-moz-document regexp("https://www\\.last\\.fm/user/[a-zA-Z0-9_]*$") {
    .header {
        background-color: @background-primary;
    }

    #mantle_skin,
    #id_body,
    .page-content {
        background-color: @background-primary;
        color: @text-primary;
    }

    .chartlist-row {
        .chartlist-play-button::before {
            background-color: @background-accent;
        }
        .chartlist-play-button:hover::before {
            background-color: @accent-colour;
        }
        &:hover {
            background-color: @background-hover;
        }
        &--now-scrobbling {
            background-color: @background-accent;
            .chartlist-play-button::before {
                background-color: @background-primary;
            }
        }
    }

    .chartlist-row::after,
    .chartlist-break::after,
    .stationlink-list .stationlink::after,
    .shout-form,
    .shout {
        border-bottom-color: @background-accent;
    }

    .stationlink-list {
        .stationlink::before {
            background-color: @background-accent;
        }
        .stationlink:hover::before {
            background-color: @accent-colour;
        }
    }

    .listening-report-promo {
        background-color: @background-accent;
        &:hover {
            background-color: @background-hover;
        }
    }

    .more-link a,
    .tasteometer-body a {
        color: @text-link;
    }

    .chartlist-count-bar-slug {
        background-color: @accent-colour;
        opacity: 0.5;
    }

    a:hover .chartlist-count-bar-slug {
        background-color: @accent-hover
    }

    .header-metadata-display a {
        color: @text-primary !important;
    }

    .follower-btn button,
    .tasteometer-body,
    .shout .shout-user a {
        color: @text-primary
    }

    .btn-primary {
        color: @text-primary;
        background-color: @accent-colour;
        &:hover {
            color: @text-primary !important;
            background-color: @accent-hover !important
        }
    }

    .secondary-nav-item-link--active::after,
    a.secondary-nav-item-link:focus::after,
    a.secondary-nav-item-link:hover::after {
        background-color: @accent-colour;
    }
}

